:root {
  /* Colors */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--Almost-White);
  font: 500 18px "Epilogue", sans-serif;
  text-decoration: none;
}

nav {
  height: 10vh;
}

nav.fixed-top {
  position: relative;
}

.offcanvas {
  --bs-offcanvas-width: 245px;
}

.navbar-toggler-icon {
  background-image: url(images/icon-menu.svg);
}

.btn-register {
  color: var(--Medium-Gray);
  background-color: var(--Almost-White);
  padding: 0px 50px;
  border: 1px solid var(--Almost-Black);
}

.btn-close {
  --bs-btn-close-bg: none;
  background-image: url(images/icon-close-menu.svg);
  opacity: 1;
}

#principal-img {
  width: 100%;
  height: 42%;
}

h1 {
  font: 700 32px "Epilogue", sans-serif;
}

.section-style {
  height: 100%;
}

.txt-section {
  color: var(--Medium-Gray);
}

.btn-learn-more {
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  font-weight: 700;
}

.img-size {
  width: 70px;
  height: min-content;
}

@media screen and (min-width: 992px) {
  .general_container {
    height: 85vh;
  }

  #principal-img {
    content: url(images/image-hero-desktop.png);
    width: 485px;
    height: 100%;
  }

  h1 {
    font-size: 80px;
    width: 79%;
  }

  .container-section {
    height: 100%;
  }

  .section-style {
    height: 100%;
    gap: 50px;
  }
}
